# ANÁLISIS DE DATOS DE LAS CARRERAS DE FORMULA 1

In [39]:
#Utilizamos la libreria request justo para justo mandar un requerimiento a la API 
import requests
import json
#para poder visualizarlos en forma de tabla se pone:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [40]:
url = "http://ergast.com/api/f1/2022/22/results.json"
response = requests.get(url)

In [41]:
#Lo que nos hace es mostrarlo de forma de json 
content = json.loads(response.content)

In [42]:
#Esto para saber como meter el for y desde donde lo va a recorrer 
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

Ahora con lo siguiente veremos como podemos filtrar los datos para visualizarlos de una mejor manera, convertirlos a valores enteros por columnas y hacer sumas totales que en este caso lo haremos por los puntos de cada conductor

In [43]:
#Ahora para tomar todos las carreras lo que haremos es un ciclo for 
df_results_2022 = pd.DataFrame()
#nos dice que para cada carrera en la lista del rago mencionado de arriba
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json' # se toma esta Api, se pone {} paa denotar que es lo que va a ir cambiando 
    response = requests.get(url.format(race)) # aqui lo que hará es tomar los datos de los "race" que va a ir cambiando pero va tomando valores del 1 al 21
   #Para poder hacer eso es necesario el format  y es quien dara la señal de cual vaiable es la que va cambiando 
    content=json.loads(response.content)#lo que hace aqui es mostrarlo como un json 
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))
    #lo que hacemos es agregar los valores pa que se vaya guardando

In [44]:
df_results_2022["Driver"] = df_results_2022["Driver"].apply(lambda x: x["driverId"])

In [45]:
df_results_2022["points"] = df_results_2022.points.astype(int)#Lo que nos hace esto es que la columna points
#nos la va a convertir anumeros enteros en lugar de los strings que ya teniamos

In [46]:
df_results_2022.groupby(["Driver"]).agg({"points": "sum"}).sort_values(by = "points", ascending = False )

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

Haciendo ago análogo pero ahora agruparemos y sumaremos con respecto a los patrocinadores como se muestra a continuación

In [47]:
#ahora veamos cuantos puntos por constructor se generaron enla temporada 2022 
#Primero lo que tenemos que hacer es volver solo lo que nos importa en las columnas, solo los datos y que no muestre sus palabras clave
df_results_2022["Constructor"] = df_results_2022["Constructor"].apply(lambda x : x["constructorId"])

df_results_2022.groupby(["Constructor"]).agg({"points":"sum"}).sort_values(by = "points", ascending = False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

In [48]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [49]:
#Con esto verificamos el tipo de datos que son 
type(df_results_2022.points.astype(int).values[0])

numpy.int32

In [50]:
#Lo que hace el by= es decir por que variable es la que se va a ordenar  y ascending es que si es de forma ascendente y
#Como queremos ver los mayores puntos se pone así 
df_results_2022.groupby(["position"]).agg({"points":"sum"}).sort_values(by ="points", ascending = False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

Ahora vamos a ver la tabla de las races de cada año 
Para ello necesitamos otra API ya que para cada dato o tabla diferente es una API diferente:

# TABLA DE RACES

Vamos a crear un diccionario que posteriormente la covertiremos a una tabla 
Primero vamos a obtener la serie de datos como lo es el season 
Para almacenar muchisima información iterando es mejor hacerla mejor en diccionario, pero dentro de cada componente se le pone una lista para que lo vaya almacenando

In [51]:
races = {"season":[],
        "round":[],
        "raceName" : [],
        "circuitId":[],
        "lat":[],
        "long": [],
        "country":[],
        "date": [],
        "url" : []}

# IMPORTANTE

Ahora vamos a traernos todas las carreras desde el 2010 hasta el 2022
con el for lo que vamos a hacer es traer todas las carreras de todos los años, se pone {} en donde va el año porque así decimosque es lo que va a ir cambiando

In [52]:
for year in list(range(2010,2023)):
    url = "http://ergast.com/api/f1/{}.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    #Ahora vamos a crear otro for para que por cada carrera que nos va a traer el de arriba tomemos los datos 
    
    for item in content['MRData']['RaceTable']['Races']:#Es decir por cada elemento que coforma esta lista que se muestra arriba
        
        races["season"].append(int(item["season"])) #Es decir vamos ir de uno en uno  te mostrara un diccionario  de ahí vamos a tomar el "season" en cada año pero tomandolo como entero para ocuparlo después 
        races["round"].append(int(item["round"]))
        races["raceName"].append(item["raceName"])
        races["circuitId"].append(item["Circuit"]["circuitId"])
        races["lat"].append(item["Circuit"]["Location"]["lat"])
        races["long"].append(item["Circuit"]["Location"]["long"])
        races["country"].append(item["Circuit"]["Location"]["country"])
        races["date"].append(item["date"])
        races["url"].append(item["url"])

Ahora lo veremos como un data frame de lo que acabamos de obtener

In [53]:

pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

Ahora lo que vamos a hacer es exportarlo como un archivo Csv

In [54]:
pd.DataFrame(races).to_csv("races.csv", index = False)

# TABLA SEASONS
 
Haremos algo análogo con la tabla races, solo que ahora para hacerlo con la tabla seasons se ocupa otro URL como también comenzaremos creando un diccionario

In [55]:
    
dict = {"Temporada":[],
       "url":[]}

In [56]:

url = "https://ergast.com/api/f1/seasons.json?limit=73&offset=60"
response = requests.get(url.format(year))
content=json.loads(response.content)
    
for item in content['MRData']['SeasonTable']['Seasons']:
     
    dict["Temporada"].append(int(item["season"]))
    dict["url"].append(item["url"])

Visto como un dataframe lo que acabamos de obtener se ve como:

In [57]:
pd.DataFrame(dict)

    Temporada                                                url
0        2010  http://en.wikipedia.org/wiki/2010_Formula_One_...
1        2011  http://en.wikipedia.org/wiki/2011_Formula_One_...
2        2012  http://en.wikipedia.org/wiki/2012_Formula_One_...
3        2013  http://en.wikipedia.org/wiki/2013_Formula_One_...
4        2014  http://en.wikipedia.org/wiki/2014_Formula_One_...
5        2015  http://en.wikipedia.org/wiki/2015_Formula_One_...
6        2016  http://en.wikipedia.org/wiki/2016_Formula_One_...
7        2017  http://en.wikipedia.org/wiki/2017_Formula_One_...
8        2018  http://en.wikipedia.org/wiki/2018_Formula_One_...
9        2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
10       2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
11       2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
12       2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
13       2023  https://en.wikipedia.org/wiki/2023_Formula_One...

Ahora para expotarlo como un archivo csv se hace como:

In [58]:
pd.DataFrame(dict).to_csv("Seasons.csv", index = False)

## TABLA DRIVERS

Ahora haremos la tabla como las anteriores pero de drivers, primero creamos un diccionario de listas como es:

In [59]:
drivers={"year":[],
         "id": [],
        "permanentNumber":[],
        "code":[],
        "url":[],
        "givenName":[],
        "familyName":[],
        "dob":[],
        "nationality":[],
        }

In [60]:
for year in list(range(2010,2023)):    
    url = "http://ergast.com/api/f1/{}/drivers.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)
      
                          

    for item in content['MRData']["DriverTable"]["Drivers"]:
        drivers["year"].append(year)
        drivers["id"].append(item["driverId"])
        drivers["code"].append(item["code"])
        drivers["url"].append(item["url"])
        drivers["givenName"].append(item["givenName"])
        drivers["familyName"].append(item["familyName"])
        drivers["dob"].append(item["dateOfBirth"])
        drivers["nationality"].append(item["nationality"])
        try:
            
            drivers["permanentNumber"].append(item["permanentNumber"])
        except:
            drivers["permanentNumber"].append(None)

Veamoslo en forma de un data frame como se muestra a continuación:

In [61]:
pd.DataFrame(drivers)

,year,id,permanentNumber,code,url,givenName,familyName,dob,nationality
0,2010,alguersuari,None,ALG,http://en.wikipedia.org/wiki/Jaime_Alguersuari,Jaime,Alguersuari,1990-03-23,Spanish
1,2010,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish
2,2010,barrichello,None,BAR,http://en.wikipedia.org/wiki/Rubens_Barrichello,Rubens,Barrichello,1972-05-23,Brazilian
3,2010,buemi,None,BUE,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi,Sébastien,Buemi,1988-10-31,Swiss
4,2010,button,22,BUT,http://en.wikipedia.org/wiki/Jenson_Button,Jenson,Button,1980-01-19,British
...,...,...,...,...,...,...,...,...,...
299,2022,stroll,18,STR,http://en.wikipedia.org/wiki/Lance_Stroll,Lance,Stroll,1998-10-29,Canadian
300,2022,tsunoda,22,TSU,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda,2000-05-11,Japanese
301,2022,max_verstappen,33,VER,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch
302,2022,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German
303,2022,zhou,24,ZHO,http://en.wikipedia.org/wiki/Guanyu_Zhou,Guanyu,Zhou,1999-05-30,Chinese

Ahora vamos a exportarlo en un archivo csv

In [62]:
pd.DataFrame(drivers).to_csv("Drivers.csv", index= False)

In [63]:
content['MRData']["DriverTable"]["Drivers"]

[{'driverId': 'albon',
  'permanentNumber': '23',
  'code': 'ALB',
  'url': 'http://en.wikipedia.org/wiki/Alexander_Albon',
  'givenName': 'Alexander',
  'familyName': 'Albon',
  'dateOfBirth': '1996-03-23',
  'nationality': 'Thai'},
 {'driverId': 'alonso',
  'permanentNumber': '14',
  'code': 'ALO',
  'url': 'http://en.wikipedia.org/wiki/Fernando_Alonso',
  'givenName': 'Fernando',
  'familyName': 'Alonso',
  'dateOfBirth': '1981-07-29',
  'nationality': 'Spanish'},
 {'driverId': 'bottas',
  'permanentNumber': '77',
  'code': 'BOT',
  'url': 'http://en.wikipedia.org/wiki/Valtteri_Bottas',
  'givenName': 'Valtteri',
  'familyName': 'Bottas',
  'dateOfBirth': '1989-08-28',
  'nationality': 'Finnish'},
 {'driverId': 'de_vries',
  'permanentNumber': '45',
  'code': 'DEV',
  'url': 'http://en.wikipedia.org/wiki/Nyck_de_Vries',
  'givenName': 'Nyck',
  'familyName': 'de Vries',
  'dateOfBirth': '1995-02-06',
  'nationality': 'Dutch'},
 {'driverId': 'gasly',
  'permanentNumber': '10',
  'code': 'GAS',
  'url': 'http://en.wikipedia.org/wiki/Pierre_Gasly',
  'givenName': 'Pierre',
  'familyName': 'Gasly',
  'dateOfBirth': '1996-02-07',
  'nationality': 'French'},
 {'driverId': 'hamilton',
  'permanentNumber': '44',
  'code': 'HAM',
  'url': 'http://en.wikipedia.org/wiki/Lewis_Hamilton',
  'givenName': 'Lewis',
  'familyName': 'Hamilton',
  'dateOfBirth': '1985-01-07',
  'nationality': 'British'},
 {'driverId': 'hulkenberg',
  'permanentNumber': '27',
  'code': 'HUL',
  'url': 'http://en.wikipedia.org/wiki/Nico_H%C3%BClkenberg',
  'givenName': 'Nico',
  'familyName': 'Hülkenberg',
  'dateOfBirth': '1987-08-19',
  'nationality': 'German'},
 {'driverId': 'latifi',
  'permanentNumber': '6',
  'code': 'LAT',
  'url': 'http://en.wikipedia.org/wiki/Nicholas_Latifi',
  'givenName': 'Nicholas',
  'familyName': 'Latifi',
  'dateOfBirth': '1995-06-29',
  'nationality': 'Canadian'},
 {'driverId': 'leclerc',
  'permanentNumber': '16',
  'code': 'LEC',
  'url': 'http://en.wikipedia.org/wiki/Charles_Leclerc',
  'givenName': 'Charles',
  'familyName': 'Leclerc',
  'dateOfBirth': '1997-10-16',
  'nationality': 'Monegasque'},
 {'driverId': 'kevin_magnussen',
  'permanentNumber': '20',
  'code': 'MAG',
  'url': 'http://en.wikipedia.org/wiki/Kevin_Magnussen',
  'givenName': 'Kevin',
  'familyName': 'Magnussen',
  'dateOfBirth': '1992-10-05',
  'nationality': 'Danish'},
 {'driverId': 'norris',
  'permanentNumber': '4',
  'code': 'NOR',
  'url': 'http://en.wikipedia.org/wiki/Lando_Norris',
  'givenName': 'Lando',
  'familyName': 'Norris',
  'dateOfBirth': '1999-11-13',
  'nationality': 'British'},
 {'driverId': 'ocon',
  'permanentNumber': '31',
  'code': 'OCO',
  'url': 'http://en.wikipedia.org/wiki/Esteban_Ocon',
  'givenName': 'Esteban',
  'familyName': 'Ocon',
  'dateOfBirth': '1996-09-17',
  'nationality': 'French'},
 {'driverId': 'perez',
  'permanentNumber': '11',
  'code': 'PER',
  'url': 'http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez',
  'givenName': 'Sergio',
  'familyName': 'Pérez',
  'dateOfBirth': '1990-01-26',
  'nationality': 'Mexican'},
 {'driverId': 'ricciardo',
  'permanentNumber': '3',
  'code': 'RIC',
  'url': 'http://en.wikipedia.org/wiki/Daniel_Ricciardo',
  'givenName': 'Daniel',
  'familyName': 'Ricciardo',
  'dateOfBirth': '1989-07-01',
  'nationality': 'Australian'},
 {'driverId': 'russell',
  'permanentNumber': '63',
  'code': 'RUS',
  'url': 'http://en.wikipedia.org/wiki/George_Russell_%28racing_driver%29',
  'givenName': 'George',
  'familyName': 'Russell',
  'dateOfBirth': '1998-02-15',
  'nationality': 'British'},
 {'driverId': 'sainz',
  'permanentNumber': '55',
  'code': 'SAI',
  'url': 'http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.',
  'givenName': 'Carlos',
  'familyName': 'Sainz',
  'dateOfBirth': '1994-09-01',
  'nationality': 'Spanish'},
 {'driverId': 'mick_schumacher',
  'permanentNumber': '47',
  'code': 'MSC',
  'url': 'http://en.wikipedia.org/wiki/Mick_Schumacher',
  'givenName': 'Mick',
  'familyName': 'Schumacher',
  'dateOfBirth': '1999-03-22',
  'nationality': 'German'},
 {'driverId': 'stroll',
  'permanentNumber': '18',
  'code': 'STR',
  'url': 'http://en.wikipedia.org/wiki/Lance_Stroll',
  'givenName': 'Lance',
  'familyName': 'Stroll',
  'dateOfBirth': '1998-10-29',
  'nationality': 'Canadian'},
 {'driverId': 'tsunoda',
  'permanentNumber': '22',
  'code': 'TSU',
  'url': 'http://en.wikipedia.org/wiki/Yuki_Tsunoda',
  'givenName': 'Yuki',
  'familyName': 'Tsunoda',
  'dateOfBirth': '2000-05-11',
  'nationality': 'Japanese'},
 {'driverId': 'max_verstappen',
  'permanentNumber': '33',
  'code': 'VER',
  'url': 'http://en.wikipedia.org/wiki/Max_Verstappen',
  'givenName': 'Max',
  'familyName': 'Verstappen',
  'dateOfBirth': '1997-09-30',
  'nationality': 'Dutch'},
 {'driverId': 'vettel',
  'permanentNumber': '5',
  'code': 'VET',
  'url': 'http://en.wikipedia.org/wiki/Sebastian_Vettel',
  'givenName': 'Sebastian',
  'familyName': 'Vettel',
  'dateOfBirth': '1987-07-03',
  'nationality': 'German'},
 {'driverId': 'zhou',
  'permanentNumber': '24',
  'code': 'ZHO',
  'url': 'http://en.wikipedia.org/wiki/Guanyu_Zhou',
  'givenName': 'Guanyu',
  'familyName': 'Zhou',
  'dateOfBirth': '1999-05-30',
  'nationality': 'Chinese'}]

## TABLA CONSTRUCTORS

Ahora veamos nuestra tabla de constructors, como siempre creando primero el diccionario

In [64]:
constructors={"year":[]
              ,"constructorId":[],
             "url":[],
             "nombre":[],
             "nacionalidad":[]}

In [65]:
for year in list(range(2010,2023)):
    url = "http://ergast.com/api/f1/{}/constructors.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']["ConstructorTable"]["Constructors"]:
        constructors["year"].append(year)
        constructors["constructorId"].append(item["constructorId"])
        constructors["url"].append(item["url"])
        constructors["nombre"].append(item["name"])
        constructors["nacionalidad"].append(item["nationality"])

In [66]:
pd.DataFrame(constructors)

,year,constructorId,url,nombre,nacionalidad
0,2010,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,2010,force_india,http://en.wikipedia.org/wiki/Racing_Point_Forc...,Force India,Indian
2,2010,hrt,http://en.wikipedia.org/wiki/Hispania_Racing,HRT,Spanish
3,2010,lotus_racing,http://en.wikipedia.org/wiki/Lotus_Racing,Lotus,Malaysian
4,2010,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
...,...,...,...,...,...
134,2022,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
135,2022,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
136,2022,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
137,2022,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
138,2022,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

Ahora lo convertiremos a un archivo csv

In [67]:
pd.DataFrame(constructors).to_csv("constructors.csv", index= False)

## TABLA CIRCUITS

Hacemos los mismos pasos

In [68]:
circuits = {"year":[],
            "id":[],
           "url":[],
           "circuitName":[],
           "lat":[],
           "long":[],
           "locality":[],
           "country":[]}

In [69]:
for year in list(range(2010,2023)):
    url = "http://ergast.com/api/f1/{}/circuits.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']["CircuitTable"]["Circuits"]:
        
        circuits["year"].append(year)
        circuits["id"].append(item["circuitId"])
        circuits["url"].append(item["url"])
        circuits["circuitName"].append(item["circuitName"])
        circuits["lat"].append(item["Location"]["lat"])
        circuits["long"].append(item["Location"]["long"])
        circuits["locality"].append(item["Location"]["locality"])
        circuits["country"].append(item["Location"]["country"])

In [70]:
pd.DataFrame(circuits)

,year,id,url,circuitName,lat,long,locality,country
0,2010,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
1,2010,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain
2,2010,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.57,2.26111,Montmeló,Spain
3,2010,hockenheimring,http://en.wikipedia.org/wiki/Hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany
4,2010,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary
...,...,...,...,...,...,...,...,...
250,2022,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
251,2022,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.541,Suzuka,Japan
252,2022,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada
253,2022,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE
254,2022,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

Ahora lo vamos a convertir a csv

In [71]:
pd.DataFrame(circuits).to_csv("circuits.csv", index =False)

## TABLA QUALIFIYING

Veamos que la tabla de qualifiying se ve como:

In [72]:
Qualifying = {"year":[],
             "number":[],
            "position":[],
            "id": [],
            "permanentNumber":[],
            "code":[],
            "urlc":[],
            "givenName":[],
            "familyName":[],
            "dob":[],
            "nationality":[],
            "constructorId":[],
             "urld":[],
             "nombre":[],
             "nacionalidad":[],
            "Q1":[],
            "Q2":[],
            "Q3":[]}

In [73]:
for year in list(range(2010,2023)):    
    url = "http://ergast.com/api/f1/{}/qualifying.json"
    response = requests.get(url.format(year))
    content=json.loads(response.content)

    for item in content['MRData']["RaceTable"]["Races"][0]["QualifyingResults"]:

        Qualifying["year"].append(year)
        try:
            Qualifying["number"].append(item["number"])
        except:
            Qualifying["number"].append(None)
        Qualifying["position"].append(item["position"])
        Qualifying["id"].append(item["Driver"]["driverId"])
        try:
            Qualifying["permanentNumber"].append(item["Driver"]["permanentNumber"])
        except:
            Qualifying["permanentNumber"].append(None)
        Qualifying["code"].append(item["Driver"]["code"])
        Qualifying["urlc"].append(item["Driver"]["url"])
        Qualifying["givenName"].append(item["Driver"]["givenName"])
        Qualifying["familyName"].append(item["Driver"]["familyName"])
        Qualifying["dob"].append(item["Driver"]["dateOfBirth"])
        Qualifying["nationality"].append(item["Driver"]["nationality"])
        Qualifying["constructorId"].append(item["Constructor"]["constructorId"])
        Qualifying["urld"].append(item["Constructor"]["url"])
        Qualifying["nombre"].append(item["Constructor"]["name"])
        Qualifying["nacionalidad"].append(item["Constructor"]["nationality"])
        try:
            Qualifying["Q1"].append(item["Q1"])
        except:
            Qualifying["Q1"].append(None)
        try:
            Qualifying["Q2"].append(item["Q2"])
        except:
            Qualifying["Q2"].append(None)
        try:
            Qualifying["Q3"].append(item["Q3"])
        except:
            Qualifying["Q3"].append(None)

    for item in content['MRData']["RaceTable"]["Races"][1]["QualifyingResults"]:
        Qualifying["year"].append(year)
        try:
            Qualifying["number"].append(item["number"])
        except:
            Qualifying["number"].append(None)
        Qualifying["position"].append(item["position"])
        Qualifying["id"].append(item["Driver"]["driverId"])
        try:
            Qualifying["permanentNumber"].append(item["Driver"]["permanentNumber"])
        except:
            Qualifying["permanentNumber"].append(None)
        Qualifying["code"].append(item["Driver"]["code"])
        Qualifying["urlc"].append(item["Driver"]["url"])
        Qualifying["givenName"].append(item["Driver"]["givenName"])
        Qualifying["familyName"].append(item["Driver"]["familyName"])
        Qualifying["dob"].append(item["Driver"]["dateOfBirth"])
        Qualifying["nationality"].append(item["Driver"]["nationality"])
        Qualifying["constructorId"].append(item["Constructor"]["constructorId"])
        Qualifying["urld"].append(item["Constructor"]["url"])
        Qualifying["nombre"].append(item["Constructor"]["name"])
        Qualifying["nacionalidad"].append(item["Constructor"]["nationality"])
        try:
            Qualifying["Q1"].append(item["Q1"])
        except:
            Qualifying["Q1"].append(None)
        try:
            Qualifying["Q2"].append(item["Q2"])
        except:
            Qualifying["Q2"].append(None)
        try:
            Qualifying["Q3"].append(item["Q3"])
        except:
            Qualifying["Q3"].append(None)

Lo podemos ver como dataframe:

In [74]:
pd.DataFrame(Qualifying)

,year,number,position,id,permanentNumber,code,urlc,givenName,familyName,dob,nationality,constructorId,urld,nombre,nacionalidad,Q1,Q2,Q3
0,2010,5,1,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,1:55.029,1:53.883,1:54.101
1,2010,7,2,massa,19,MAS,http://en.wikipedia.org/wiki/Felipe_Massa,Felipe,Massa,1981-04-25,Brazilian,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,1:55.313,1:54.331,1:54.242
2,2010,8,3,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,1:54.612,1:54.172,1:54.608
3,2010,2,4,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,1:55.341,1:54.707,1:55.217
4,2010,4,5,rosberg,6,ROS,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico,Rosberg,1985-06-27,German,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2022,63,6,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,1:29.680,1:29.618,1:29.104
386,2022,14,7,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French,1:29.978,1:29.295,1:29.147
387,2022,77,8,bottas,77,BOT,http://en.wikipedia.org/wiki/Valtteri_Bottas,Valtteri,Bottas,1989-08-28,Finnish,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss,1:29.683,1:29.404,1:29.183
388,2022,10,9,gasly,10,GAS,http://en.wikipedia.org/wiki/Pierre_Gasly,Pierre,Gasly,1996-02-07,French,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian,1:29.891,1:29.418,1:29.254
389,2022,20,10,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American,1:29.831,1:29.546,1:29.588

Ahora  lo convertir a un archivo csv

In [75]:
pd.DataFrame(Qualifying).to_csv("Qualifying.csv", index = False )