In [7]:
#Utilizamos la libreria request justo para justo mandar un requerimiento a la API 
import requests
import json
#para poder visualizarlos en forma de tabla se pone:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
url = "http://ergast.com/api/f1/2022/22/results.json"
response = requests.get(url)

In [9]:
#Lo que nos hace es mostrarlo de froma de json 
content = json.loads(response.content)

In [12]:
#Esto para saber como meter el for y desde donde lo va a recorrer 
list(range(1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [23]:
#Ahora para tomar todos las carreras lo que haremos es un ciclo for 
df_results_2022 = pd.DataFrame()
#nos dice que para cada carrera en la lista del rago mencionado de arriba
for race in list(range(1,23)):
    url = 'http://ergast.com/api/f1/2022/{}/results.json' # se toma esta Api, se pone {} paa denotar que es lo que va a ir cambiando 
    response = requests.get(url.format(race)) # aqui lo que hará es tomar los datos de los "race" que va a ir cambiando pero va tomando valores del 1 al 21
   #Para poder hacer eso es necesario el format  y es quien dara la señal de cual vaiable es la que va cambiando 
    content=json.loads(response.content)#lo que hace aqui es mostrarlo como un json 
    df_results_2022 = df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))
    #lo que hacemos es agregar los valores pa que se vaya guardando

In [31]:
df_results_2022["points"] = df_results_2022.points.astype(int)#Lo que nos hace esto es que la columna points
#nos la va a convertir anumeros enteros en lugar de los strings que ya teniamos

In [32]:
#Con esto verificamos el tipo de datos que son 
type(df_results_2022.points.astype(int).values[0])

numpy.int32

In [33]:
#Lo que hace el by= es decir por que variable es la que se va a ordenar  y ascending es que si es de forma ascendente y
#Como queremos ver los mayores puntos se pone así 
df_results_2022.groupby(["position"]).agg({"points":"sum"}).sort_values(by ="points", ascending = False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

AttributeError: 'Series' object has no attribute 'value'